<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/liquidvisions/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="gkoks" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>