BEGIN TRANSACTION

EXEC sp_MSForEachTable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL'

{{render_delete_statements app}}

EXEC sp_MSForEachTable 'ALTER TABLE ? CHECK CONSTRAINT ALL'

INSERT DataTypes {{get_all_fields data_types[0] }}
{{~for d in data_types~}}
SELECT '{{d.name}}' {{if !for.last}}UNION ALL{{end}}
{{~end~}}


ROLLBACK